@import '../../../global/styles/helpers';

[data-whatintent='mouse'],
[data-whatintent='touch'] {
  *:focus {
    outline: 0;
  }
}

.app {
  &__contents {
    position: relative;
    z-index: 10;
    padding-bottom: em(16);
  }
}
